*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}




        /* header start */
.header-container{
    width:100%;
    position:fixed;
    background-color: #fff;
    top:0%;
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    z-index:999;
}
.navbar{
    max-width: 1320px;
    display:flex;
    flex-wrap:wrap;
    padding:10px;
    position:sticky;
    margin: auto;
    top:0%;
    position: relative;
    justify-content: space-between;
}
.logo{
    display: inline-block;
    color: #616060;
    font-size: 24px;
    width:20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 60px;
}
.text{
    font-size:20px;
    justify-content:center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
.text>a{
    margin-left:30px;
    text-decoration: none;
    color: #616060;
    font-size:16px;
}
a:hover{
    color: #e99c2e;
}
.icons{
    font-size:20px;
    color: #616060;
    display: flex;
    flex-wrap: wrap;  
    gap:15px;
    
}

.button-1{
    background-color: white;
    color:#e99c2e;
    border:2px solid#e99c2e; 
    height: 40px;
    width:30px;
    border-radius: 4px;
    
}
.ri-menu-line{
    font-weight: 700;
}

/* header section end */


/* slider start */

.slider{
    background-color: #f8f9fd;
}
    .sub-box1{
        /* border: 1px solid black; */
        width: 100%;
        color: white;
        padding: 10px;
        min-height: 400px;  
        
    }
    .mg2{
        margin-top: 15%;
        padding-left: 35%;
    }
    .text10{
        color: #616060;
        font-weight: 400;
        margin: 20px 0 22px;
        line-height: 1.1;
        font-size: 40px;
    }
    .text11{
        color: #a09e9c;
        font-size: 16px;
        line-height: 1.8;
        margin: 35px 0 20px;
    }
        .text12{
            color: #616060;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.8;
        }
        .del{
            color: #bbb9b9;
        }
            .add-cart{
                width: 140px;
                height: 60px;
                line-height: 60px;
                border-radius: 1px;
                font-size: 16px;
                font-weight: 500;
                margin-top: 34px;
                background: #e99c2e;
                border: 1px solid #e99c2e;
                color:white;
            }
            .add-cart:hover{
                background-color: white;
                color: #e99c2e;
            }
            .more-info{
                background-color:  #f8f9fd;;
                color: #e99c2e;
                width: 140px;
                height: 60px;
                line-height: 60px;
                border-radius: 1px;
                font-size: 16px;
                font-weight: 500;
                margin-top: 34px;
                border: 0;
            }
        .more-info:hover{
            border: 1px solid #e99c2e;

        }
        .mg3{
            margin-bottom: 25px;
        }
        .mg4{
            margin-top: 10%;
        }


    .sub-box-2{
        /* border: 1px solid blue; */
        /* width: 100%; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        object-fit: cover;
        padding: 5%;
        /* margin:20%; */
    }
    .head{
        width: 50%;
        /* border: 1px solid red; */
        padding: 10px;
    }
    .head img{
        width: 60%;
    }

    .container9{

            width: 100%;
            margin: auto;
             /* border: 1px solid green; */
             margin-bottom: 100px;
             display: flex;
             flex-wrap:wrap ;
            
            }         
    .main-container{
        width: 100%;
        padding: 10px;
        overflow:hidden;
        scroll-behavior: smooth;
        margin-top: 3%;
    }
    .slider{
        animation: slider 15s infinite none;
            width:300%;
            height:100%;
            display:flex;
            background-color: #f8f9fd;

        }
         @keyframes slider{
            0% {
                margin-left: 0%;
            }
            
            10% {
                margin-left: 0%;
            }

            33.33% {
                margin-left: -100%;
            }

            44.44% {
                margin-left: -100%;
            }
            66.66% {
                margin-left: -200%;
            }
            77.77% {
                margin-left: -200%;
            }
            100% {
                margin-left:-200%;
            }
          
        } 
        
        .dots{
            width:100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            transform:translateY(-50px);
            padding: 4px 10px;
            border-radius: 10px; 
        
        }
        .dots a{
            border: 1px solid white;
            padding: 4px;
            border-radius: 50%;
            background-color:#f8f9fd;
            border: 1px solid #e99c2e;;
        
        }
        .dots a:hover{
            background-color:#e99c2e;
        }

    
    
    .sub-slider{
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .text9{
            font-size: 28px;
            color: #998d80;
            font-weight: 400;
            line-height: 1.1;
        }   



/* slider end */

/* product section start */
.container1{
    max-width:1320px;
    margin:auto;
    /* border: 1px solid red; */
    padding:10px;
    margin-top: 30px;
}
.main-box{

    /* border:1px solid pink; */
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.main-box>div{
    /* border:1px solid blue; */
    padding:10px;
}
.box1{
    width:25%;
}
.box2{
    width:50%;
}
.sub-box{
    /* border:1px solid gray; */
    height: 100%;
    background-color: #f8f9fc;
}
.sub-box img{
    margin:auto;
}
.sub-img{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    background: #fff;
}
.box2-2{
    /* border: 1px solid red; */
    height: 100%;
}
.box-2-2{
    display: flex;
    flex-wrap: wrap;
}
.box-2-2>div{
    /* border: 1px solid orange; */
    padding: 5px;
}
.box2-img{
    width: 30%;
}

.box2-details{
    width: 70%;
}
h2{
    font-size: 18px;
    margin:10px;
    font-weight: 500;
    color: #5f5b57;
}
h2:hover{
    color:#e99c2e; 
}
.text1{
    color: #a09e9c;
    font-size: 14px;
    padding: 0px 20px;
    line-height:1.8;
}
.text2{
    font-size: 14px;
    margin: 18px 0 13px;
    line-height: 1.8;
    color: #a09e9c;
}
h4{
    font-size: 14px;
    font-weight: 700;
    color: #5f5b57;
}
.pr{
    color: #e99c2e;
    font-size: 14px;
    font-weight: 700;
}
.more-btn{
    width: 118px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #5f5b57;
    background-color: transparent;
    font-size: 14px;
    margin-top: 23px;

}
.more-btn:hover{
   background-color: #5f5b57;
   color: #fff;
}
.sub-box-img{
    text-align:center;
}
.pd{
    padding-top: 40px;
    
}
/* product section end */



/* new arrivals start */
.new{
    color: #5f5b57;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin:35px 0px;
}

.container2{
  
    margin:auto;
    max-width:1320px;
    padding:5px;
}
.product{
   
    display: flex;
    flex-wrap: wrap;
}
.product>div{
    height:300px;
   
}
.prod{
    width:25%;
    padding:10px;
}
.sub-prod{ 
  
    height:80%;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.sale-1{
    /* position: absolute;
    padding:0px 17px 5px 17px;
    background-color: #e99c2e;
    color:white;
    left:79%;
    top:3%; */
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #e99c2e;
    color: #f8f9fc;

}
.sale-2{
    background-color: #47d93c;
}
.sale{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 2.2;
}

.sub-prod img{
    transition: all 0.5s;
}
.sub-prod:hover img{
    scale: 1.4;
}
.sub-prod:before{
    content:"";
    height:0px;
    width:0px;
    position: absolute;
    transition: all 0.5s;
    background-color: #eaecef;

}
.sub-prod:hover::before{
    height: 100%;
    width: 100%;
    
}
.pro-btn{
    position: absolute;
    bottom: 0px;
    height: 0px;
    background: #33383c;
    color:white;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    overflow: hidden;
}

.sub-prod:hover .pro-btn{
    height: 35px;
   
}
.add{
    padding:10px;
    font-size:15px;
}
.cart{
    padding:10px;
    
}
.heart{
    padding:10px;
    margin-left:auto;
}
.full{
    padding: 10px;
}
.p-name{
    font-size: 16px;
    color: #5f5b57;
    font-weight: 500;
    text-align: center;
    padding:10px;
}
.p-name:hover{
    color:#e99c2e;
}
.price{
    text-align: center;
    color: #5f5b57;
    font-size: 16px;
    font-weight: 400;

}
/* new arrival section end */

/* new section start */
.container{
    width:100%;
    margin-top:6%;
    margin-bottom:6%;
}
.box{
    background-image:url('../imgs/table-banner.jpg');
    height:500px;
    position: relative;
}

.box-sub{
 
    max-width: 596px;
    border: 1px solid transparent;
    height:100%;
    z-index: 1;
    position: relative;
    text-align: start;

}
.box-sub2{
       background-color:#333;
        opacity:0.9;
        width: 25%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
}
.sofa{
    color:white;
    font-size:30px;
    margin-top:30%;
    margin-left:15%;

}
.text3{
    color:white;
    margin-left:15%;
    margin-top: 3%;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;

}
.rs{
    color:#e99c2e;
    font-weight: 600;
}
.view-more{
    color:white;
    background-color: #e99c2e;
    width:150px;
    height:50px;
    font-size: 18px;
    border: 0;
    margin-left:15%;
    margin-top: 20px;

}
/* new section end */

/* features products section start */
.features{
    font-size: 30px;
    font-weight: 500;
    color: #5f5b57;
    text-align: center;
    margin-bottom: 2%;
}
.container4{
    max-width:1320px;
    margin:auto;
   
    padding: 5px;
}
.f-product{
    
    display: flex;
    flex-wrap: wrap;
}
/* .f-product>div{
    border: 1px solid gray;
} */
.f-prod{
    width:25%;
    padding:10px;
    text-align:center;

}
.f-sub-prod{
  
    background-color: #f8f9fc;
   
}
.f-sub-prod img{
    object-fit: cover;
    width:100%;

}
.review{
    color: #a09e9c;
    line-height: 1.8;
}
.name{
    color: #5f5b57;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px 15px;
}
.doller{
    color: #5f5b57;
    font-weight: 400;
    font-size: 18px;
}
.mg{
    margin-top:5%;
}
.b-product{
    
    display: flex;
    flex-wrap: wrap;
}

.b-prod{
    width:33.33%;
    padding:10px;
}
.b-sub-prod{
    background-color: #f8f9fc;    
}
.b-sub-prod img{
    object-fit: cover;
    width:100%;
    transition:all 0.5s;

}
.b-sub-prod:hover img{
    scale:1.5;

}
.b-img{
    overflow: hidden;
    position: relative;
}
.b-img:before{
    content:"";
    height:0px;
    width:0px;
    top:50%;
    left:50%;
    position: absolute;
    transition: all 0.5s;
    background-color:rgba(0,0,0,.3);
    z-index:100;

}
.b-img:hover::before{
    height: 100%;
    width: 100%;
    top:0%;
    left:0%;

}
.blog{
    color: #5f5b57;
    font-size: 16px;
    font-weight: 500;
}
.blog:hover{
    color: #e99c2e;
}
.text4{
    line-height: 1.1;
    font-size: 14px;
    font-weight: 400;
    color: #bcb7b2;
    margin-left: 10px;
    
}
.text5{
    font-size: 13px;
    margin-top: 20px;
    color: #95908b;
    line-height: 1.8;
    margin-left: 10px;
}
/* latest blg section end */


/*  client section start*/

.client{
    background: #f8f9fd;
    margin-top: 5%;
    /* height: 220px; */
}
.container5{
    max-width:1320px;
    margin: auto;
    overflow-x:hidden;
    padding:10px;
  
}
.main-client{
  
    display: flex;
 
}

.sub-client{
    
    width:259px;
    display: flex;
    justify-content: center;
    padding:10%;
}
/* client section end */

/* footer start */
.footer-1{
    padding:15px;

}
.container6{
    max-width: 1320px;
    margin: auto;
  
    margin-top: 6%;
}
.footer-main{
    
    display: flex;
    flex-wrap: wrap;
}
.footer-sub{
    
    width:25%;
}
 .footer-sub li{
    list-style-type: none;
    line-height:2;
    margin-left: 2%;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
        color: #a09e9c;
        transition: all 0.5s;
        
}
.footer-sub li:hover{
    translate: 15px;
    color: orange;
}
.footer{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 45px;
    color: #5f5b57;
    line-height: 1.1;
}
.text6{
    font-size: 14px;
    margin-bottom: 25px;
    color: #a09e9c;
    line-height: 1.8;
}
.text7{
    font-size: 14px;
    color: #bcb7b2;
    background: #fff;
    
    padding: 25px 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    border: 0;
    width: 100%;
    height: 34px;
    line-height: 1.42857143;
    border-radius: 4px;
  
}
.email{
    display: flex;
}

.plan{
    transform: translate(-30px);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e99c2e;
    font-size: 20px;
}
/* footer end */

/* last footer start */
.social{
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 154px;
    margin-top: 6%;
}
.container7{
    /* border:1px solid green; */
    max-width: 1320px;
    margin: auto;
}
.media{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: center;
}
.p{
    color: #a4aaaf;
    margin: 10px;
    font-size:20px;
   
}
.text8{
    font-size: 14px;
    color: #a5adb3;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 10px;
    
}