@media(max-width:992px){

    .w-1{
        width:100%;
    }
    .sub-box{
        max-width:350px;
        margin:auto;
    }
    .w-3{
        width:33.33%;
    }
    .sub-prod{
        max-width: 270px;
        margin: auto;
    }
    /* .w-2{
        width:50%;
    }  */
      .f-sub-prod{
        max-width: 270px;
        margin:auto;
    }
    .b-sub-prod{
        max-width: 270px;
        margin: auto;
  
    }
    .w-2{
        width:50%;
    }
    .sub-box-2{
        max-width: 350px;
        margin: auto;
    }
    .head img{
        width:100%;
        margin: auto;
    }

    .sofa, .text3, .view-more{
        margin-left: 4% !important;
    }
    .mg2{
        padding-left:0 !important;
    }


    .hide-nav{
        display: none;
        position: absolute;
        left: 0px;
        top: 70px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 100%;
        background-color: white;
        
    }
.text {
 
    flex-direction: column;
}
.text a{
    padding:10px 10px;
}

    .hide-nav .text a:hover{
        background-color:gainsboro;
    }
}

@media(max-width:767px){
    .md-1{
        width:100%;
    }
    .w-md-1{
        width:100%;
    }
    .head img{
        width:100%;
    }
    


 
}
@media(min-width:992px){
.button-1{
    display: none;

}
    .menu{
        display: none;
    }

}

