@media(max-width:992px){
    .text{
        display:none;
    }
    .w-1{
        width:100%;
    }
    .sub-box{
        max-width:350px;
        margin:auto;
    }
}
@media(min-width:992px){
button{
    display: none;

}
}
